body {
    color: aqua;
    background-color: #232121;
}
.wrapper {
    padding: 200px 100px;
    height: 100vh;

}
.block {
    margin: auto;
    width: 300px;
    height: 300px;
    background: #005f5f;
    box-shadow: inset 0 0 10px aqua;
}

.block_transform {
    transform: translateX(10vw) rotate(-30deg) ;
    transform-origin: left bottom;
}