body {
    color: aqua;
    background-color: #232121;
}
.block {
    height: 100px;
    box-shadow:inset 0 0 15px aqua;
    border-radius: 5px;
}
.block {
    position: fixed;
    right: 50px;
    bottom: 100px;
    left: 50%;

}