body {
    background-color: #232121;
    color: aqua;
    font-size: 30px;
    font-family: sans-serif;
}

.wrapper {
    padding: 100px 150px;
    height: 100vh;
}
.menu {
    width: 25vw;
    height: 60vh;
    margin: 0 auto;

    border: 3px solid aqua;
    border-radius: 40px;
    box-shadow: 0 0 10px 5px #009898;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.menu__item {
    border: 3px solid aqua;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    transition: .1s;
}
.menu__item:hover {
    box-shadow: 0 0 10px 5px #009898;
    border-radius: 30px; 
}
.menu__item:hover:first-child {
    color: #ff0000;
    text-shadow: 0 0 10px #ce0000;
}
