body {
    background-color: #232121;
    color: aqua;
}
.wrapper {
    padding: 100px 150px;
    height: 100%;
}
.flexbox{
    border: 5px solid #000000;
    display: flex;
    flex-direction: column;

}
.flexbox__item {
    border: 10px solid aqua;
    height: 200px;
    min-width: 200px;
    width: 100%;
}
.flexbox__item-content {
    background-color: #232121;
    font-size: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
