body {
    background-color: #232121;
    color: aqua;
}
.wrapper {
    padding: 100px 150px;
    height: 100vh;
}
.flexbox{
    border: 5px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 30px 15px #000000;
    display: flex;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}
.flexbox__item {
    border: 5px solid aqua;
    height: 200px;
    width: 200px;
}
.flexbox__item-content {
    background-color: #232121;
    font-size: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 50px 10px #00ffff71; 
}
