body {
    background-color: #232121;
}
p{
    text-align: center;
    font-size: 50px;
    padding-top: 300px;
}
@keyframes iridescent-text {
    0% {
        color: #ff0000;
    }
    20% {
        color: #ffa600;
    }
    40% {
        color: #3cff00;
    }
    60% {
        color: #00fff7;
    }
    80% {
        color: #0015ff
    }
    100% {
        color: #000000;
    }
}
.animation {
    animation-name: iridescent-text;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate
}